* {
  font-size: xx-large;
  color: black;
  text-shadow: -1px 0 white;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp2636472.jpg");
}

body nav {
  display: flex;
  justify-content: space-between;
}

body header a {
  color: #4e2a84;
}

.font-24 {
  font-size: 24px;
}

.font-36 {
  font-size: 36px;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  background-color: #4e2a84;
  color: white;
}

.btn:hover {
  background-color: #924cfc;
}

.hide {
  display: none;
}

.wide600 {
  width: 50%;
}
